@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Yusei+Magic&display=swap');

body {
    text-align: center;
    font-family: 'Yusei Magic', sans-serif;
}
.main-img {
    width: 100%;
}

.point-div > img {
    width: 20px;
}
label {
    display: block;
}

.instruction {
    padding: 5px 10px;
    border-radius: 10%;
    background-color: #F2994A;
    color: white;
    margin: 10px;
    height: fit-content;
}

.instruction-text > p{
    display: inline;
}

header {
    width: 70%;
    margin: 1rem auto;
    text-align: left;
}

.sub-heading {
    width: 70%;
    margin-bottom: 1.5rem ;
}

.header-text {
    /* margin-left: 1rem; */
    position: relative;
    left: 1rem;
    color: #4F4F4F;
    font-style: italic;
    line-height: 1;
}

main {
    width: 70%;
    margin: 1rem auto;
}

.points {
    float: right;
    padding: 1rem;
    margin: 1rem 2rem 1rem 1rem;
    box-shadow: 5px 10px 10px #BDBDBD;
    border-radius: 10%;
}

.points span {
    color: #BDBDBD;
    font-size: 10px;
    line-height: 12px;
}

.point-div > strong {
    font-size: 14px;
    line-height: 17px;
    color: #333333;
}

.point-div  {
    padding: 0.5rem;
}

.orange {
    color: #F2994A;
}

#blog-text {
    text-align: left;
    width: 70%;
}

h3 {
    color: #333333;
    font-size: 24px;
    line-height: 20px;
}

.topic {
    color: #333333;
    font-size: 18px;
    line-height: 24px;
    /* margin: 2rem auto; */
}

label {
    margin: 1rem auto;
    font-size: 16px;
}

.instruction-text div {
    display: flex;
}

.instruction-text p{
    color: #333333;
}

.source {
    color: #BDBDBD;
    font-size: 14px;
}

footer {
    color: #a9a9a9;
}

@media(max-width:750px) {
    .points {
        float: none;
        margin: 1rem auto;
    }
    .point-div {
        display: inline-block;
        
    }
    .point-div img {
        width: 15px;
        margin: auto 10px;
        padding: auto 10px;
    }

    main,.sub-heading,header,#blog-text{
        width: auto;
        margin: 1rem;
    }   
}